<div class="container">
  <section class="content-header"></section>

  <section class="content">

    <form role="form" id="daUpload" name="daUpload" method="post" autocomplete="off">
      <!-- th:object="${examSchedule}"> -->
      <div class="col-md-12" style="margin-top: 20px; margin-left: 2px;">
        <div class="panel panel-primary">
          <div class="panel-heading panel-head-custom" style="background-color: #3c8dbc; font-size: 18px; text-align: center;">
            Digital Assignment Upload</div>

          <div>
            <span class="col-sm-12 col-md-12" style="font-size: 20px; color: green; text-align: center;"></span> <span class="col-sm-12 col-md-12" style="font-size: 20px; color: red; text-align: center;"></span>
            <div class="col-sm-12 col-md-12 table-responsive margin:">
              <table class="table table-bordered" style="margin-top: 10px;">

                <tr style="background-color: #656565; color: #fff;">

                  <th>Class Nbr</th>
                  <th>Course Code</th>
                  <th>Course Title</th>
                  <th>Course Type</th>
                  <th>Course Option</th>
                  <th>Slot</th>
                  <th>Faculty Name</th>
                </tr>
                <tr class="danger">
                  <td>VL2017181001464</td>
                  <td>CSE4001</td>
                  <td>Parallel and Distributed Computing</td>
                  <td>ETH</td>
                  <td>RGR</td>
                  <td>D2</td>
                  <td>ANURADHA G</td>

                </tr>


              </table>

            </div>
            <div class="col-sm-12 col-md-12">
              <table class="table table-bordered">

                <tr style="background-color: #656565; color: #fff;">
                  <td>Sl.No.</td>
                  <td>Mark Title</td>
                  <td>Max. Mark</td>
                  <td>Weightage %</td>
                  <td>Due Date</td>
                  <td style="width: 24%;">Answer Upload</td>

                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">1</td>
                  <td>Additional Learning</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">
                    <span style="color: green;">-</span>




                  </td>

                  <td>


												<span>
												<span>
												<input type="hidden" name="code" value="ADL" />
												<input type="hidden" name="opt" value="Additional Learning" />

												<button type="button" class="btn btn-primary" style="vertical-align:middle;text-align:center;" onclick="javascript:doDAssignment(&#39;VL2017181001464&#39;,             &#39;CSE4001&#39;,             &#39;Parallel and Distributed Computing&#39;,             &#39;ETH&#39;,             &#39;RGR&#39;,             &#39;D2&#39;,             &#39;ANURADHA G&#39;,             &#39;ADL&#39;,             &#39;Additional Learning&#39;,             &#39;10&#39;,             &#39;10&#39;,             &#39;-&#39;,             &#39;ADL&#39;);">Process</button>

														</span>
												</span>




                  </td>




                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">2</td>
                  <td>Continous Assessment Test - I</td>
                  <td style="vertical-align:middle;text-align:center;">50</td>
                  <td style="vertical-align:middle;text-align:center;">15</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">
                    <span style="color: green;">-</span>




                  </td>

                  <td>







                  </td>




                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">3</td>
                  <td>Continous Assessment Test - II</td>
                  <td style="vertical-align:middle;text-align:center;">50</td>
                  <td style="vertical-align:middle;text-align:center;">15</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">
                    <span style="color: green;">-</span>




                  </td>

                  <td>







                  </td>




                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">4</td>
                  <td>Digital Assignment - I</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">

                    <span style="color: red;">30-Sep-2017</span>



                  </td>

                  <td>


												<span>

												</span>
                    <span style="vertical-align:middle;text-align:center;">Uploaded on - <span style="vertical-align:middle;text-align:center;">30 Sep 2017</span>
												&nbsp;<span style="vertical-align:middle;text-align:center;">[09:55 PM]</span></span>



                  </td>




                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">5</td>
                  <td>Digital Assignment - II</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">

                    <span style="color: red;">23-Oct-2017</span>



                  </td>

                  <td>


												<span>

												</span>
                    <span style="vertical-align:middle;text-align:center;">Uploaded on - <span style="vertical-align:middle;text-align:center;">23 Oct 2017</span>
												&nbsp;<span style="vertical-align:middle;text-align:center;">[08:32 PM]</span></span>



                  </td>




                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">6</td>
                  <td>Digital Assignment - III</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>
                  <td style="vertical-align:middle;text-align:center;">10</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">
                    <span style="color: green;">08-Nov-2017</span>




                  </td>

                  <td>


												<span>
												<span>
												<input type="hidden" name="code" value="DA03" />
												<input type="hidden" name="opt" value="Digital Assignment - III" />

												<button type="button" class="btn btn-primary" style="vertical-align:middle;text-align:center;" onclick="javascript:doDAssignment(&#39;VL2017181001464&#39;,             &#39;CSE4001&#39;,             &#39;Parallel and Distributed Computing&#39;,             &#39;ETH&#39;,             &#39;RGR&#39;,             &#39;D2&#39;,             &#39;ANURADHA G&#39;,             &#39;DA03&#39;,             &#39;Digital Assignment - III&#39;,             &#39;10&#39;,             &#39;10&#39;,             &#39;08-Nov-2017&#39;,             &#39;DA03&#39;);">Process</button>

														</span>
												</span>




                  </td>




                </tr>

                <tr class="danger">
                  <td style="vertical-align:middle;text-align:center;">7</td>
                  <td>Final Assessment Test</td>
                  <td style="vertical-align:middle;text-align:center;">100</td>
                  <td style="vertical-align:middle;text-align:center;">40</td>

                  <!-- <td><input type="button" value="Upload" />&nbsp;&nbsp;
                                                  <a href="#">View</a></td>
                                              <td th:text="'05-Sep-2017'"></td> -->


                  <td style="vertical-align:middle;text-align:center;">
                    <span style="color: green;">-</span>




                  </td>

                  <td>







                  </td>




                </tr>



              </table>
              <div class="col-md-2" style="margin-top: 20px; margin-left: 0px;">


                <button type="button" class="btn btn-primary" onclick="javascript:reload(&#39;VL2017181&#39;);">Go Back</button>
              </div>
            </div>


            <div class="box-footer"></div>
          </div>
        </div>
      </div>

    </form>

  </section>
  <noscript>
    <h2 class="text-red">Enable JavasCript to Access V-TOP</h2>
  </noscript>
  <!-- Custom Scripts for V-TOP Pages-->

  <script>
    /*<![CDATA[*/

    jQuery(document).ready(function() {
      // binds form submission and fields to the validation engine
      jQuery("#daUpload").validationEngine('attach', {
        autoHidePrompt : true,
        binded : false,
        onValidationComplete : function(form, status) {
          if (status) {

            doDAssignment();
          }
        }
      });
    });

    /* function doDAssignment(td) {
                  var myform = document.getElementById("daUpload");
                  var fd = new FormData(myform);
                  $
                          .blockUI({
                              message : '<img src="assets/img/482.GIF"> loading... Just a moment...'
                          });
                  $.ajax({
                      url : "examinations/doDAssignment",
                      type : "POST",
                      data : "td = " td,

                      success : function(response) {
                          $.unblockUI();
                          $("#page-wrapper").html(response);

                      }

                  });
              } */

    function doDAssignment(classId,courseCode,title,type,option,slot,fName,mCode,optionTitle,maxMark,weightageMark,dueDate,code) {


      var myform = document.getElementById("daUpload");
      var fd = new FormData(myform);
      var dd = optionTitle;


      $
        .blockUI({

          message : '<img src="assets/img/482.GIF"> loading... Just a moment...'
        });

      params = "&classId=" + classId
        + "&courseCode=" + courseCode
        + "&title=" + title
        + "&type=" + type
        +"&option="+option
        + "&slot="+ slot
        + "&fName="	+ fName
        + "&mCode="	+ mCode
        + "&maxMark=" +maxMark
        + "&dueDate=" +dueDate
        + "&code=" +code
        + "&optionTitle=" +optionTitle
        + "&weightageMark=" +weightageMark;
      $.ajax({
        url : "examinations/doUploadSeparateDAssignment",
        type : "POST",
        data : params,

        success : function(response) {
          $.unblockUI();
          $("#page-wrapper").html(response);

        }

      });
    }

    function reload(semesterSubId) {


      var myform = document.getElementById("daUpload");
      var fd = new FormData(myform);


      $
        .blockUI({

          message : '<img src="assets/img/482.GIF"> loading... Just a moment...'
        });

      params = "&semesterSubId=" + semesterSubId;



      $.ajax({
        url : "examinations/doDigitalAssignment",
        type : "POST",
        data : params,

        success : function(response) {
          $.unblockUI();
          $("#page-wrapper").html(response);

        }

      });
    }

    /*]]>*/
  </script>
</div>
